% -*- mode: erlang -*-
%{compile_pre_script, "./support/make_tz.py < ./src/timezone.txt > ./src/egeoip_tz.erl"}.
{clean_files, ["ebin/*.beam", "ebin/egeoip.app", "doc/", "_test"]}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer_opts, [{plt, "_test/dialyzer_plt"}, src]}.
